/* All */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


/* Header */

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 60px 0 60px;
}

.header__menu-items {
    height: 86px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Heebo', sans-serif;
}

.header__menu-item {
    padding-left: 20px;
}

.header__menu-item:first-child {
    padding: 0;
}

.header__menu-link:hover {
    color: #FF6464;
}

.header__menu-link {
    color: #000000
}


/* Hello */

.hello {
    display: flex;
    padding-bottom: 70px;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 140px;
    padding-left: 10px;
    padding-right: 10px;
}

.hello__context-text {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    font-family: 'Heebo', sans-serif;
}

.hello__context-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Heebo', sans-serif;
}

.hello__image {
    height: 243px;
    width: 243px;
    border-radius: 50%;
}

.hello__context-button {
    height: 47px;
    width: 208px;
    background: #FF6464;
    border: none;
    border-radius: 3%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
}


/* Posts */

.posts {
    background: #EDF7FA;
    height: 320px;
}

.posts__wrapper {
    max-width: 850px;
    margin: 0 auto;
}

.posts__header {
    display: flex;
    justify-content: space-between;
}

.post__header-recent-posts {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
}

.post__header-view-all {
    align-self: center;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    color: #00A8CC;
}

.posts__container {
    display: flex;
}

.posts__container-info {
    display: flex;
}

.post__wrapper {
    display: flex;
}

.post {
    width: 418px;
    height: 295;
    background: #FFFFFF;
    /* margin-left: 20px; */
}

.posts__wrapper-inner>div:nth-child(1) {
    margin-right: 20px;
}

.post-inner {
    padding: 20px;
}

.posts__container-paragraph {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
}

.posts__wrapper-inner {
    display: flex;
}

.post-time {
    margin: 0px 32px 0 0;
}

.posts__container-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.post-sign {
    margin: 0 28px 0 0;
}

.posts__container-test {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}