*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.header__container{
    max-width: 1200px;
    margin: 0 auto;
}

.header__menu-items{
    display: flex;
    justify-content: flex-end;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 86px;
    align-items: center;
}

.header__menu {
    height: 86px;
}

.header__menu-item{
    padding-left: 15px;
}

.header__menu-items:first-child{
    padding: 0;
}